@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    border: 1px solid red;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
   /* justify-content: center; */
   /* height: 50px; */
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    flex-grow: 4;
    padding: 20px 200px;
}

header div {
    
    
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    padding: 20px;
}

.section1 {
    background-color:#1f2937;
}

.section1 .content {
    display: flex;
}

.section1 .left-side {
    margin: 24px 48px;
}

.section1 h1 {
    font-size: 40px;
    font-family: 'Roboto', extra-bold, sans-serif;
    color: #F9FAF8;
}

.section1 p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
}


